*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1;
}

h2{
    margin-bottom: 15px;
}

#container{
    width: 1140px;
    margin: 20px auto;
}

#blog-post-container{
    width: 75%;
    float: left;
}

#other-posts{
    width: 25%;
    float: left;
    padding-left: 10px;
}

#author-box{
    clear: both;
    border-top: 1px solid rgb(0, 0, 0, .125);
    padding-top: 10px;
}

#author-box img{
    width: 20%;
    border-radius: 50%;
    float: left;
}

.author-text{
    float: left;
    margin-top: 95px;
    margin-left: 20px;
}

.blog-post{
    position: relative;
}

.blog-post img{
    width: 100%;
}

.blog-text{
    margin-top: 15px;
}

.blog-post-date{
    position: absolute;
    top: 15px;
    right: 22px;
}

.tags li{
    list-style-type: none;
    display: inline;
    margin-right: 4px;
}

.tags li a{
    text-decoration: none;
}

.box{
    background-color: white;
    margin-bottom: 15px;
    padding: 20px;
}

